<%- include("header") -%>
    <div class="box" id="heading">
        <h1><%=listtitle %></h1>
    </div>
   <div class="box">
    <ul>
      
      <%  for (var i=0; i<newlistitems.length; i++) { %>
          <div class="item">
              <input type="checkbox" name="" id="">
            <p> <%= newlistitems[i]  %></p>
          </div>
        
     <%   } %>
    </ul> 
    <form class="item" action="/" method="post">
        <input type="text" name="newitem" placeholder="add new item ... " autocomplete="off">
        <button type="submit" name="list" value= <%= listtitle %> >+</button>
</div>

    
  
 
</form>
<%- include("footer") -%>